/* break points
1) md<=1200px
2) s<=700px
3) xs<=600px*/


/* xs <=600px --------------------------------------------------------------------*/
@media screen and (max-width:600px){

    /* Player bar-----------------------------------------*/
    .player i{
        font-size: 0.9rem;
    }

    .col-md ul li{
        margin: 0 .5rem;
    }

    #play{
        font-size: 1rem;
    }

    .col-md{
        min-width: 150px;
        margin:  0 1rem
    }

    .col-md:first-child{
       height: 30px;
    }

    .col-lt{
        font-size: 0.7rem;
        min-width: 150px;
    }

    .player-bar{
        min-width: 140px;
        align-items: flex-start;
    }

    .progress-bar{
        margin: 0;
    }

    .player-bar span{
        margin: 0 0.5rem;
        font-size: 0.7rem;
    }

    .track-playing div:first-of-type{
        margin-right: 0;
        min-width: 50px;
    }

}

@media screen and (max-width:700px){
    /* sidebar  */
    .sidebar{
        display: none;
    }
}
/* s <=700px --------------------------------------------------------------------- */
@media screen and (min-width:700px){
    .sidebar-small{
        display: none;;
    }
}

/* md <=1200px -------------------------------------------------------------------- */
@media screen and (min-width:1200px){

}